
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>

</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1">
    <tr>
      <td><a href="/view_profile">View profile</a></td>
    </tr>
    <tr>
      <td><a href="/add_bike">Add bike</a></td>
    </tr>
    <tr>
      <td><a href="/view_bike">View bike</a></td>
    </tr>
    <tr>
      <td><a href="/view_parts_category">view parts category</a></td>
    </tr>
    <tr>
      <td><a href="/add_partss">add parts</a></td>
    </tr>
    <tr>
      <td><a href="/view_parts">view parts</a></td>
    </tr>
    <tr>
      <td><a href="/view_bike_request">view bike request</a></td>
    </tr>
{#    <tr>#}
{#      <td><a href="/approvedd_parts_request">approved part request</a></td>#}
{#    </tr>#}
    <tr>
      <td><a href="/view_part_request">view part request</a></td>
    </tr>
{#    <tr>#}
{#      <td><a href="#">view payment</a></td>#}
{#    </tr>#}
    <tr>
      <td><a href="/view_services">view services</a></td>
    </tr>
    <tr>
      <td><a href="/view_service_request">view service request</a></td>
    </tr>
  </table>
</form>
</body>
</html>
